<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
         Basic text
        </h1>
    </center>




<div id="inputBox">
    <form action ="/" method="POST">
        <input type="text" name="input">
        <button type="text">Submit
        </button>
    </form>
</div>



</body>
</html>